body {
	background-color: #4BF2F2;
}

.wrapper {
	margin: 0 auto;
	width: 700px;
}
	
form {
	background-color: white; 
	border: 5px solid black; 
	width: 250px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	padding: 10px;
}

.form-control {
	text-align: center; 
}

.radio-inline label {
margin-bottom: 10px;
display: inline-block;
font-weight: 300;
}

.radio input[type=radio] {
	float: none;
	margin: auto;
}

#ratingselect, #setterselect {
	margin: auto;
	width: 75px;
}

.input[type=submit] {
background: #f8f8f8;
color: #a5a5a5;
border: 10px solid #e6e6e6;
padding: 15px 30px;
margin: 30px auto 100px;
width: 320px;
height: 46px;
font-size: 14px;
box-shadow: none;
}

label {
	font-weight: 300;
}

.btn {
	font-weight: 500;
	font-size: medium;
}

h1 {
	text-align: center;
	font-weight: bold;
	color: black;
	font-size: 400%;
}

table {
	background-color: white;
	padding: 1em; 
	border: 10px solid black; 
	width: 400px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 200px;}
	
td {
	padding: 7px 10px 10px 10px;
	letter-spacing: 0.1em;
	font-size: 60%;
	border: 2px solid #111111;
	text-align: left;}

th {
	padding: 7px 10px 10px 10px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border: 2px solid #111111;
	text-align: left;}

